.scanner-page{
	.back-button-wrapper{
		margin-top: 4em;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.back-button{
			background: $primary-light;
			color: $white;
			border-radius: 2em;
			font-weight: bold;
			padding: .5em 2em;

			transition: all .3s;
			&:active{
				transform: scale(.95);
				background: $primary-dark;
			}
		}
	}
}