rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Affiliation/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /Schools/{schoolId}/Students/{studentId} {
      allow create:
          if exists(/databases/$(database)/documents/Schools/$(schoolId)) &&
             request.resource.data.classId in get(/databases/$(database)/documents/Schools/$(schoolId)).data.classes &&
             request.auth.uid == studentId;
      
      allow update, read:
          if request.auth.uid == studentId ||
             exists(/databases/$(database)/documents/Schools/$(schoolId)/Teachers/$(request.auth.uid));
      
      match /Tasks/{taskId} {
        allow read, write:
            if request.auth.uid == studentId ||
            exists(/databases/$(database)/documents/Schools/$(schoolId)/Teachers/$(request.auth.uid));
      }
    }
  }
}