.qr-page{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	.qr-wrapper{
		padding: 2em;
		border: 3px dashed $primary-dark;
		border-radius: 5px;
	}

	.back-button-wrapper{
		margin-top: 4em;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.back-button{
			background: $primary-light;
			color: $white;
			border-radius: 2em;
			font-weight: bold;
			padding: .5em 2em;

			transition: all .3s;
			&:active{
				background: $primary-dark;
				transform: scale(.95);
			}
		}
	}
}